<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>jBlog</display-name>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>rs.djm.jblog.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogPostServlet</servlet-name>
        <servlet-class>rs.djm.jblog.controller.BlogPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPostServlet</servlet-name>
        <servlet-class>rs.djm.jblog.controller.NewPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>rs.djm.jblog.controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>rs.djm.jblog.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>rs.djm.jblog.controller.EditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogPostServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPostServlet</servlet-name>
        <url-pattern>/newpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>